@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
header {
    background-image: url('background.jpg');
    color: #fff;
    padding: 90px 0;
    text-align: center;
    font-size: 100px; /* Updated font size */
    font-family: 'Aref Ruqaa', serif; /* Updated font family */
}
.tabs {
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: #444;
    overflow: hidden;
}
@media (max-width: 600px) {
    .tabs {
        flex-direction: column;
        align-items: center;
    }

    .tab {
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }
}
#latex-formula {
    font-size: 50px;
    text-align: center;
}
.title0 {
    font-family: 'Aref Ruqaa', serif;
    font-size: 90px;
    color: #580ee0b1;
}
.paragraph0_1 {
font-family: "Amiri", serif;
font-size: 50px;
margin-bottom: 0;
}
.tab {
    float: left;
    list-style-type: none;
    padding: 14px 20px;
    background-color: #444;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.tab:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
.article {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}