@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
header {
    background-image: url('background.jpg');
    color: #fff;
    padding: 90px 0;
    text-align: center;
    font-size: 80px; /* Updated font size */
    font-family: 'Aref Ruqaa', serif; /* Updated font family */
}
.tabs {
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: #444;
    overflow: hidden;
}
#latex-formula {
    font-size: 50px;
    text-align: center;
}
.title0 {
    font-family: 'Aref Ruqaa', serif;
    font-size: 90px;
    color: #580ee0b1;
}
.paragraph0_1 {
font-family: "Amiri", serif;
font-size: 50px;
}
.tab {
    float: left;
    list-style-type: none;
    padding: 14px 20px;
    background-color: #444;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.tab:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
